.lights-container{
	width: 800px;
}
.groups-container{
	width: 800px;
}

.lights-list {
	display: inline-block;
	vertical-align: top;
	width: 200px;
}
.groups-list {
	display: inline-block;
	vertical-align: top;
	width: 200px;
}
.lights-form {
	display: inline-block;
	width: 200px;
}
.groups-form {
	display: inline-block;
	width: 200px;
}
.lights-value {
	display: inline-block;
	vertical-align: top;
	width: 500px;
}
.lights-value div{
	width: 500px;
}
.lights-value label{
	display: inline-block;
	width: 200px;
}
.lights-value input, .lights-value select{
	display: inline-block;
	width: 200px;
}

.groups-value {
	display: inline-block;
	vertical-align: top;
	width: 500px;
}
.groups-value div{
	width: 500px;
}
.groups-value label{
	display: inline-block;
	width: 200px;
}
.groups-value input, .groups-value select{
	display: inline-block;
	width: 200px;
}
