#hue-menu{
	width: 1500px;
	display: block;
}
#hue-control{
	width: 1500px;
	display: block;
}
.group-lights {
	display: block;
}
.lights-list {
	vertical-align: top;
	width: 200px;
}
.groups-list {
	vertical-align: top;
	width: 200px;
}
.groups-form {
	display: inline-block;
	width: 200px;
}
.lights-form {
	display: inline-block;
	vertical-align: top;
	width: 500px;
}
.lights-form div{
	width: 500px;
}
.lights-form label{
	display: inline-block;
	width: 200px;
}
.lights-form input, .lights-form select{
	display: inline-block;
	width: 200px;
}

.groups-form {
	display: inline-block;
	vertical-align: top;
	width: 500px;
}
.groups-form div{
	width: 500px;
}
.groups-form label{
	display: inline-block;
	width: 200px;
}
.groups-form input, .groups-form select{
	display: inline-block;
	width: 200px;
}
